.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 9999;
    pointer-events: none;
}

@media (max-width: 480px) {
    .loader-container {
        padding: 1rem;
    }
}
